<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gtest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9BB83D517E1FDFD008820CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9C671B017E0312F00ED64D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9C671C417E1820400ED64D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9C671F917E1854400ED64D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F8210D188CF70600DC1008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F82137188CF7AB00DC1008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F8215E188CF81C00DC1008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
